.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 10px;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 768px) {
  .columns > div {
    flex-direction: unset;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    width: 33.333%;
  }
}
