/* a table of products shows more than one product on a page:
- shows an image, a title and a text for each product
- four products per line, when above breakpoint 1000px
- two products per line when 999px and below
- images height to 250px
 */
.table-of-products-wrapper {
    justify-content: center;
    display: flex;
}

.table-of-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}

.table-of-products  > div {
    width: calc(100% * (1/2) );
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1000px) {
    .table-of-products  > div {
        width: calc(100% * (1 / 4));
    }
}

.table-of-products img {
    max-height: 250px;
}
